*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.package-config.json
.pub-cache/
.pub/
build/
**/build/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/.dart_tool/
android/.gradle/
android/app/build/
android/build/
web/.dart_tool/
web/build/
linux/flutter/ephemeral/
linux/build/
macos/Flutter/ephemeral/
macos/build/
windows/flutter/ephemeral/
windows/build/
fuchsia/.dart_tool/
fuchsia/build/
app.*.symbols
app.*.map.json
